<a href="https://colab.research.google.com/github/emilyracker/THA2/blob/master/THA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Set 1: DHS Data

**Introduction of the data sources, codebooks, and data formats.**

The [Demographic and Health Surveys](https://dhsprogram.com/Data/) are household level surveys compiled by USAID. 
This is some of the highest quality disaggregated international data available. 

To get this data: 

1. [Register a project](https://dhsprogram.com/data/new-user-registration.cfm). 
2. Wait for approval
3. Request data from Colombia DHS V-II 2015
4. Download COBR72DT.ZIP *(I attached this as a zip file to Canvas)*
5. Unzip COBR72DT.ZIP 
6. Use COBR72FL.DTA

**How to read the data**
I have also uploaded a .do file that can be used as the codebook. 
Unless I find a less tedious way to do this in python, I think it would be easier to run the COBR72DT.do file first in stata and then upload a new .csv file to python. For now, I'm leaving the columns untitled but they can be cross-referenced with the .do file.

In [0]:
import pandas as pd
pd.read_stata("COBR72FL.DTA")

,caseid,bidx,v000,v001,v002,v003,v004,v005,v006,v007,...,s459a,s459b,s459c,s459d,s459e,s459f,s459g,s459h,s459x,s465
0,00011215 1,1,CO7,1,1215,1,1,287370,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00011215 1,2,CO7,1,1215,1,1,287370,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00011215 3,1,CO7,1,1215,3,1,308022,11,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209
3,00011317 2,1,CO7,1,1317,2,1,332023,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00011317 2,2,CO7,1,1317,2,1,332023,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00011317 2,3,CO7,1,1317,2,1,332023,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,00011418 1,1,CO7,1,1418,1,1,332023,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202
7,00011418 1,2,CO7,1,1418,1,1,332023,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,00011418 1,3,CO7,1,1418,1,1,332023,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,00019060 1,1,CO7,1,9060,1,1,360556,7,2015,...,no,yes,no,no,no,no,no,no,no,NaN
10,00019060 1,2,CO7,1,9060,1,1,360556,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,00019080 1,1,CO7,1,9080,1,1,308022,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 month
12,00019080 1,2,CO7,1,9080,1,1,308022,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,00021718 2,1,CO7,2,1718,2,2,692432,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,00021920 2,1,CO7,2,1920,2,2,557728,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,00021920 2,2,CO7,2,1920,2,2,557728,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,00021920 2,3,CO7,2,1920,2,2,557728,8,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,00022021 2,1,CO7,2,2021,2,2,557728,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,00022021 2,2,CO7,2,2021,2,2,557728,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,00022022 2,1,CO7,2,2022,2,2,551880,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,00022022 2,2,CO7,2,2022,2,2,551880,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,00022022 2,3,CO7,2,2022,2,2,551880,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,00022022 2,4,CO7,2,2022,2,2,551880,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,00022022 3,1,CO7,2,2022,3,2,591541,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202
24,00022022 3,2,CO7,2,2022,3,2,591541,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,00022022 7,1,CO7,2,2022,7,2,503914,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203
26,00022022 10,1,CO7,2,2022,10,2,576485,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,00022124 2,1,CO7,2,2124,2,2,692432,11,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 month
28,00022124 2,2,CO7,2,2124,2,2,692432,11,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 month
29,00029050 2,1,CO7,2,9050,2,2,551880,7,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62563,49992020 2,1,CO7,4999,2020,2,4999,12420,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62564,49992020 2,2,CO7,4999,2020,2,4999,12420,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62565,49992020 2,3,CO7,4999,2020,2,4999,12420,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62566,49992020 2,4,CO7,4999,2020,2,4999,12420,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62567,49992020 2,5,CO7,4999,2020,2,4999,12420,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62568,49992020 2,6,CO7,4999,2020,2,4999,12420,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62569,50001111 2,1,CO7,5000,1111,2,5000,17059,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62570,50001212 2,1,CO7,5000,1212,2,5000,24547,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62571,50001414 2,1,CO7,5000,1414,2,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62572,50001414 2,2,CO7,5000,1414,2,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62573,50001414 2,3,CO7,5000,1414,2,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62574,50001414 2,4,CO7,5000,1414,2,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62575,50001616 2,1,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62576,50001616 2,2,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62577,50001616 2,3,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62578,50001616 2,4,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62579,50001616 2,5,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62580,50001616 2,6,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62581,50001616 2,7,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62582,50001616 2,8,CO7,5000,1616,2,5000,23486,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62583,50001717 11,1,CO7,5000,1717,11,5000,32494,10,2015,...,no,no,no,no,yes,no,no,no,no,224
62584,50001919 2,1,CO7,5000,1919,2,5000,17059,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202
62585,50001919 2,2,CO7,5000,1919,2,5000,17059,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62586,50001919 2,3,CO7,5000,1919,2,5000,17059,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62587,50001919 2,4,CO7,5000,1919,2,5000,17059,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62588,50002020 1,1,CO7,5000,2020,1,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62589,50002020 1,2,CO7,5000,2020,1,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62590,50002020 1,3,CO7,5000,2020,1,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62591,50002020 1,4,CO7,5000,2020,1,5000,18599,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62592,50009040 2,1,CO7,5000,9040,2,5000,24427,10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 month

# Data Set 2 & 3: USAID Data

**Introduction of the data sources, codebooks, and data formats.**

This data is compiled by [USAID](https://explorer.usaid.gov/data.html) and shows a Country Summary of foreign aid provided by the US. 

https://explorer.usaid.gov/prepared/us_foreign_aid_country.xlsx

https://explorer.usaid.gov/prepared/us_foreign_aid_implementing.xlsx


**How to read the data**

The ["Data Dictionary"](https://explorer.usaid.gov/prepared/DataDictionary_ForeignAidExplorer.pdf)

In [0]:
import pandas as pd 
usaid_country=pd.read_excel("us_foreign_aid_country.xlsx")

usaid_country['country_year'] = usaid_country['country_name'] + usaid_country['fiscal_year'].map(str)
usaid_country['country_year']

print (usaid_country)

       country_code country_name  region_id             region_name  \
0               ABW        Aruba          6      Western Hemisphere
1               ABW        Aruba          6      Western Hemisphere
2               ABW        Aruba          6      Western Hemisphere
3               ABW        Aruba          6      Western Hemisphere
4               ABW        Aruba          6      Western Hemisphere
5               ABW        Aruba          6      Western Hemisphere
6               ABW        Aruba          6      Western Hemisphere
7               ABW        Aruba          6      Western Hemisphere
8               ABW        Aruba          6      Western Hemisphere
9               ABW        Aruba          6      Western Hemisphere
10              ABW        Aruba          6      Western Hemisphere
11              ABW        Aruba          6      Western Hemisphere
12              ABW        Aruba          6      Western Hemisphere
13              ABW        Aruba          6      Western Hemisphere
14              ABW        Aruba          6      Western Hemisphere
15              ABW        Aruba          6      Western Hemisphere
16              ABW        Aruba          6      Western Hemisphere
17              ABW        Aruba          6      Western Hemisphere
18              ABW        Aruba          6      Western Hemisphere
19              ABW        Aruba          6      Western Hemisphere
20              ABW        Aruba          6      Western Hemisphere
21              ABW        Aruba          6      Western Hemisphere
22              AFG  Afghanistan          4  South and Central Asia
23              AFG  Afghanistan          4  South and Central Asia
24              AFG  Afghanistan          4  South and Central Asia
25              AFG  Afghanistan          4  South and Central Asia
26              AFG  Afghanistan          4  South and Central Asia
27              AFG  Afghanistan          4  South and Central Asia
28              AFG  Afghanistan          4  South and Central Asia
29              AFG  Afghanistan          4  South and Central Asia
...             ...          ...        ...                     ...
954201          ZWE     Zimbabwe          5      Sub-Saharan Africa
954202          ZWE     Zimbabwe          5      Sub-Saharan Africa
954203          ZWE     Zimbabwe          5      Sub-Saharan Africa
954204          ZWE     Zimbabwe          5      Sub-Saharan Africa
954205          ZWE     Zimbabwe          5      Sub-Saharan Africa
954206          ZWE     Zimbabwe          5      Sub-Saharan Africa
954207          ZWE     Zimbabwe          5      Sub-Saharan Africa
954208          ZWE     Zimbabwe          5      Sub-Saharan Africa
954209          ZWE     Zimbabwe          5      Sub-Saharan Africa
954210          ZWE     Zimbabwe          5      Sub-Saharan Africa
954211          ZWE     Zimbabwe          5      Sub-Saharan Africa
954212          ZWE     Zimbabwe          5      Sub-Saharan Africa
954213          ZWE     Zimbabwe          5      Sub-Saharan Africa
954214          ZWE     Zimbabwe          5      Sub-Saharan Africa
954215          ZWE     Zimbabwe          5      Sub-Saharan Africa
954216          ZWE     Zimbabwe          5      Sub-Saharan Africa
954217          ZWE     Zimbabwe          5      Sub-Saharan Africa
954218          ZWE     Zimbabwe          5      Sub-Saharan Africa
954219          ZWE     Zimbabwe          5      Sub-Saharan Africa
954220          ZWE     Zimbabwe          5      Sub-Saharan Africa
954221          ZWE     Zimbabwe          5      Sub-Saharan Africa
954222          ZWE     Zimbabwe          5      Sub-Saharan Africa
954223          ZWE     Zimbabwe          5      Sub-Saharan Africa
954224          ZWE     Zimbabwe          5      Sub-Saharan Africa
954225          ZWE     Zimbabwe          5      Sub-Saharan Africa
954226          ZWE     Zimbabwe          5      Sub-Saharan Africa
954227          ZWE     Zimbabwe          5      Sub-Saharan Africa
954228          ZWE     Zimbabwe          5      Sub-Saharan Africa
954229          ZWE     Zimbabwe          5      Sub-Saharan Africa
954230          ZWE     Zimbabwe          5      Sub-Saharan Africa

       income_group_acronym    income_group_name  transaction_type_id  \
0                       HIC  High Income Country                    2
1                       HIC  High Income Country                    2
2                       HIC  High Income Country                    2
3                       HIC  High Income Country                    2
4                       HIC  High Income Country                    2
5                       HIC  High Income Country                    2
6                       HIC  High Income Country                    2
7                       HIC  High Income Country                    2
8                       HIC  High Income Country                    2
9                       HIC  High Income Country                    2
10                      HIC  High Income Country                    2
11                      HIC  High Income Country                    2
12                      HIC  High Income Country                    3
13                      HIC  High Income Country                    3
14                      HIC  High Income Country                    3
15                      HIC  High Income Country                    3
16                      HIC  High Income Country                    3
17                      HIC  High Income Country                    3
18                      HIC  High Income Country                    3
19                      HIC  High Income Country                    3
20                      HIC  High Income Country                    3
21                      HIC  High Income Country                    3
22                      LIC   Low Income Country                    2
23                      LIC   Low Income Country                    2
24                      LIC   Low Income Country                    2
25                      LIC   Low Income Country                    2
26                      LIC   Low Income Country                    2
27                      LIC   Low Income Country                    2
28                      LIC   Low Income Country                    2
29                      LIC   Low Income Country                    2
...                     ...                  ...                  ...
954201                  LIC   Low Income Country                    3
954202                  LIC   Low Income Country                    3
954203                  LIC   Low Income Country                    3
954204                  LIC   Low Income Country                    3
954205                  LIC   Low Income Country                    3
954206                  LIC   Low Income Country                    3
954207                  LIC   Low Income Country                    3
954208                  LIC   Low Income Country                    3
954209                  LIC   Low Income Country                    3
954210                  LIC   Low Income Country                    3
954211                  LIC   Low Income Country                    3
954212                  LIC   Low Income Country                    3
954213                  LIC   Low Income Country                    3
954214                  LIC   Low Income Country                    3
954215                  LIC   Low Income Country                    3
954216                  LIC   Low Income Country                    3
954217                  LIC   Low Income Country                    3
954218                  LIC   Low Income Country                    3
954219                  LIC   Low Income Country                    3
954220                  LIC   Low Income Country                    3
954221                  LIC   Low Income Country                    3
954222                  LIC   Low Income Country                    3
954223                  LIC   Low Income Country                    3
954224                  LIC   Low Income Country                    3
954225                  LIC   Low Income Country                    3
954226                  LIC   Low Income Country                    3
954227                  LIC   Low Income Country                    3
954228                  LIC   Low Income Country                    3
954229                  LIC   Low Income Country                    3
954230                  LIC   Low Income Country                    3

       transaction_type_name fiscal_year  current_amount  constant_amount  \
0                Obligations        1999           19000            26904
1                Obligations        2000           50000            69357
2                Obligations        2004            1000             1277
3                Obligations        2005           29270            36225
4                Obligations        2005           29270            36225
5                Obligations        2006            1000             1199
6                Obligations        2007           97937           114290
7                Obligations        2007           97937           114290
8                Obligations        2008           11138            12733
9                Obligations        2008           11138            12733
10               Obligations        2009            5258             5943
11               Obligations        2009            5258             5943
12             Disbursements        2004            1000             1277
13             Disbursements        2005           29270            36225
14             Disbursements        2005           29270            36225
15             Disbursements        2006            1000             1199
16             Disbursements        2007           61577            71858
17             Disbursements        2007           61577            71858
18             Disbursements        2008           11138            12733
19             Disbursements        2008           11138            12733
20             Disbursements        2009            5258             5943
21             Disbursements        2009            5258             5943
22               Obligations        1950            1000             8340
23               Obligations        1951          100000           791387
24               Obligations        1952          300000          2283030
25               Obligations        1953         2200000         16443254
26               Obligations        1953         2200000         16443254
27               Obligations        1954         2500000         18465686
28               Obligations        1955         2000000         14657588
29               Obligations        1956        18301000        130732996
...                      ...         ...             ...              ...
954201         Disbursements        2018       119170983        117333275
954202         Disbursements        2018       119170983        117333275
954203         Disbursements        2018       119170983        117333275
954204         Disbursements        2018       119170983        117333275
954205         Disbursements        2018       119170983        117333275
954206         Disbursements        2018       119170983        117333275
954207         Disbursements        2018       119170983        117333275
954208         Disbursements        2018       119170983        117333275
954209         Disbursements        2018       119170983        117333275
954210         Disbursements        2018       119170983        117333275
954211         Disbursements        2018       119170983        117333275
954212         Disbursements        2018       119170983        117333275
954213         Disbursements        2018       119170983        117333275
954214         Disbursements        2018       119170983        117333275
954215         Disbursements        2018       119170983        117333275
954216         Disbursements        2018       119170983        117333275
954217         Disbursements        2018       119170983        117333275
954218         Disbursements        2018       119170983        117333275
954219         Disbursements        2018       119170983        117333275
954220         Disbursements        2018       119170983        117333275
954221         Disbursements        2018       119170983        117333275
954222         Disbursements        2018       119170983        117333275
954223         Disbursements        2018       119170983        117333275
954224         Disbursements        2018       119170983        117333275
954225         Disbursements        2018       119170983        117333275
954226         Disbursements        2018       119170983        117333275
954227         Disbursements        2018       119170983        117333275
954228         Disbursements        2018       119170983        117333275
954229         Disbursements        2018       119170983        117333275
954230         Disbursements        2018       119170983        117333275

           country_year
0             Aruba1999
1             Aruba2000
2             Aruba2004
3             Aruba2005
4             Aruba2005
5             Aruba2006
6             Aruba2007
7             Aruba2007
8             Aruba2008
9             Aruba2008
10            Aruba2009
11            Aruba2009
12            Aruba2004
13            Aruba2005
14            Aruba2005
15            Aruba2006
16            Aruba2007
17            Aruba2007
18            Aruba2008
19            Aruba2008
20            Aruba2009
21            Aruba2009
22      Afghanistan1950
23      Afghanistan1951
24      Afghanistan1952
25      Afghanistan1953
26      Afghanistan1953
27      Afghanistan1954
28      Afghanistan1955
29      Afghanistan1956
...                 ...
954201     Zimbabwe2018
954202     Zimbabwe2018
954203     Zimbabwe2018
954204     Zimbabwe2018
954205     Zimbabwe2018
954206     Zimbabwe2018
954207     Zimbabwe2018
954208     Zimbabwe2018
954209     Zimbabwe2018
954210     Zimbabwe2018
954211     Zimbabwe2018
954212     Zimbabwe2018
954213     Zimbabwe2018
954214     Zimbabwe2018
954215     Zimbabwe2018
954216     Zimbabwe2018
954217     Zimbabwe2018
954218     Zimbabwe2018
954219     Zimbabwe2018
954220     Zimbabwe2018
954221     Zimbabwe2018
954222     Zimbabwe2018
954223     Zimbabwe2018
954224     Zimbabwe2018
954225     Zimbabwe2018
954226     Zimbabwe2018
954227     Zimbabwe2018
954228     Zimbabwe2018
954229     Zimbabwe2018
954230     Zimbabwe2018

[954231 rows x 12 columns]

In [0]:
import pandas as pd
usaid_imp_agency=pd.read_excel ("us_foreign_aid_implementing.xlsx")

#create a variable to merge on named "country_year"
usaid_imp_agency['country_year'] = usaid_imp_agency['country_name'] + usaid_imp_agency['fiscal_year'].map(str)
usaid_imp_agency['country_year']

print (usaid_imp_agency)

       implementing_agency_id implementing_agency_acronym  \
0                           1                       USAID
1                           1                       USAID
2                           1                       USAID
3                           1                       USAID
4                           1                       USAID
5                           1                       USAID
6                           1                       USAID
7                           1                       USAID
8                           1                       USAID
9                           1                       USAID
10                          1                       USAID
11                          1                       USAID
12                          1                       USAID
13                          1                       USAID
14                          1                       USAID
15                          1                       USAID
16                          1                       USAID
17                          1                       USAID
18                          1                       USAID
19                          1                       USAID
20                          1                       USAID
21                          1                       USAID
22                          1                       USAID
23                          1                       USAID
24                          1                       USAID
25                          1                       USAID
26                          1                       USAID
27                          1                       USAID
28                          1                       USAID
29                          1                       USAID
...                       ...                         ...
40453                      32                          AF
40454                      32                          AF
40455                      32                          AF
40456                      32                          AF
40457                      32                          AF
40458                      32                          AF
40459                      32                          AF
40460                      32                          AF
40461                      32                          AF
40462                      32                          AF
40463                      32                          AF
40464                      32                          AF
40465                      32                          AF
40466                      32                          AF
40467                      32                          AF
40468                      32                          AF
40469                      32                          AF
40470                      32                          AF
40471                      32                          AF
40472                      32                          AF
40473                      32                          AF
40474                      32                          AF
40475                      32                          AF
40476                      32                          AF
40477                      32                          AF
40478                      32                          AF
40479                      32                          AF
40480                      32                          AF
40481                      32                          AF
40482                      32                          AF

                        implementing_agency_name country_code country_name  \
0      U.S. Agency for International Development          AFG  Afghanistan
1      U.S. Agency for International Development          AFG  Afghanistan
2      U.S. Agency for International Development          AFG  Afghanistan
3      U.S. Agency for International Development          AFG  Afghanistan
4      U.S. Agency for International Development          AFG  Afghanistan
5      U.S. Agency for International Development          AFG  Afghanistan
6      U.S. Agency for International Development          AFG  Afghanistan
7      U.S. Agency for International Development          AFG  Afghanistan
8      U.S. Agency for International Development          AFG  Afghanistan
9      U.S. Agency for International Development          AFG  Afghanistan
10     U.S. Agency for International Development          AFG  Afghanistan
11     U.S. Agency for International Development          AFG  Afghanistan
12     U.S. Agency for International Development          AFG  Afghanistan
13     U.S. Agency for International Development          AFG  Afghanistan
14     U.S. Agency for International Development          AFG  Afghanistan
15     U.S. Agency for International Development          AFG  Afghanistan
16     U.S. Agency for International Development          AFG  Afghanistan
17     U.S. Agency for International Development          AFG  Afghanistan
18     U.S. Agency for International Development          AFG  Afghanistan
19     U.S. Agency for International Development          AFG  Afghanistan
20     U.S. Agency for International Development          AFG  Afghanistan
21     U.S. Agency for International Development          AFG  Afghanistan
22     U.S. Agency for International Development          AFG  Afghanistan
23     U.S. Agency for International Development          AFG  Afghanistan
24     U.S. Agency for International Development          AFG  Afghanistan
25     U.S. Agency for International Development          AFG  Afghanistan
26     U.S. Agency for International Development          AFG  Afghanistan
27     U.S. Agency for International Development          AFG  Afghanistan
28     U.S. Agency for International Development          AFG  Afghanistan
29     U.S. Agency for International Development          AFG  Afghanistan
...                                          ...          ...          ...
40453                Department of the Air Force          RWA       Rwanda
40454                Department of the Air Force          RWA       Rwanda
40455                Department of the Air Force          RWA       Rwanda
40456                Department of the Air Force          RWA       Rwanda
40457                Department of the Air Force          SLV  El Salvador
40458                Department of the Air Force          SLV  El Salvador
40459                Department of the Air Force          THA     Thailand
40460                Department of the Air Force          THA     Thailand
40461                Department of the Air Force          THA     Thailand
40462                Department of the Air Force          THA     Thailand
40463                Department of the Air Force          THA     Thailand
40464                Department of the Air Force          THA     Thailand
40465                Department of the Air Force          THA     Thailand
40466                Department of the Air Force          THA     Thailand
40467                Department of the Air Force          TUN      Tunisia
40468                Department of the Air Force          TUN      Tunisia
40469                Department of the Air Force          TUN      Tunisia
40470                Department of the Air Force          TUN      Tunisia
40471                Department of the Air Force          TUR       Turkey
40472                Department of the Air Force          TUR       Turkey
40473                Department of the Air Force          TUR       Turkey
40474                Department of the Air Force          TUR       Turkey
40475                Department of the Air Force          UKR      Ukraine
40476                Department of the Air Force          UKR      Ukraine
40477                Department of the Air Force          WLD        World
40478                Department of the Air Force          WLD        World
40479                Department of the Air Force          WLD        World
40480                Department of the Air Force          WLD        World
40481                Department of the Air Force          WLD        World
40482                Department of the Air Force          WLD        World

       transaction_type_id transaction_type_name  fiscal_year  current_amount  \
0                        2           Obligations         2001        35784186
1                        2           Obligations         2002       312057888
2                        2           Obligations         2003       561431741
3                        2           Obligations         2004      1150135349
4                        2           Obligations         2005       824529796
5                        2           Obligations         2006       832887176
6                        2           Obligations         2007       696701396
7                        2           Obligations         2008      1794794746
8                        2           Obligations         2009      1694947470
9                        2           Obligations         2010      2575044283
10                       2           Obligations         2011      1810744831
11                       2           Obligations         2012      2165326940
12                       2           Obligations         2013      1829912112
13                       2           Obligations         2014      1264899587
14                       2           Obligations         2015      1579673040
15                       2           Obligations         2016      1024511670
16                       2           Obligations         2017       977229469
17                       2           Obligations         2018        30227051
18                       3         Disbursements         2001        28228258
19                       3         Disbursements         2002       188423456
20                       3         Disbursements         2003       275803656
21                       3         Disbursements         2004       601773186
22                       3         Disbursements         2005       751120584
23                       3         Disbursements         2006      1233806249
24                       3         Disbursements         2007       866309265
25                       3         Disbursements         2008      1146211839
26                       3         Disbursements         2009      1605060480
27                       3         Disbursements         2010      2054981301
28                       3         Disbursements         2011      2384187017
29                       3         Disbursements         2012      2303853474
...                    ...                   ...          ...             ...
40453                    2           Obligations         2016          235500
40454                    2           Obligations         2017          159628
40455                    3         Disbursements         2016          235500
40456                    3         Disbursements         2017          159628
40457                    2           Obligations         2002            9404
40458                    3         Disbursements         2002            9404
40459                    2           Obligations         2001          107291
40460                    2           Obligations         2002           76154
40461                    2           Obligations         2016          313999
40462                    2           Obligations         2017          319257
40463                    3         Disbursements         2001          107291
40464                    3         Disbursements         2002           76154
40465                    3         Disbursements         2016          313999
40466                    3         Disbursements         2017          319257
40467                    2           Obligations         2016          157000
40468                    2           Obligations         2017          319257
40469                    3         Disbursements         2016          157000
40470                    3         Disbursements         2017          319257
40471                    2           Obligations         2001          136255
40472                    2           Obligations         2003          211393
40473                    3         Disbursements         2001          136255
40474                    3         Disbursements         2003          211393
40475                    2           Obligations         2017           19000
40476                    3         Disbursements         2017           19000
40477                    2           Obligations         2016         3000000
40478                    2           Obligations         2017         3000000
40479                    2           Obligations         2018         3000000
40480                    3         Disbursements         2016         3000000
40481                    3         Disbursements         2017         3000000
40482                    3         Disbursements         2018         3000000

       constant_amount     country_year
0             48477233  Afghanistan2001
1            416015830  Afghanistan2002
2            734429923  Afghanistan2003
3           1468166664  Afghanistan2004
4           1020480916  Afghanistan2005
5            998351517  Afghanistan2006
6            813034125  Afghanistan2007
7           2051894323  Afghanistan2008
8           1915460151  Afghanistan2009
9           2884672424  Afghanistan2010
10          1988072214  Afghanistan2011
11          2334735219  Afghanistan2012
12          1940311195  Afghanistan2013
13          1317234624  Afghanistan2014
14          1625410628  Afghanistan2015
15          1042124785  Afghanistan2016
16           977229469  Afghanistan2017
17            29760918  Afghanistan2018
18            38241132  Afghanistan2001
19           251194229  Afghanistan2002
20           360789111  Afghanistan2003
21           768173360  Afghanistan2004
22           929625871  Afghanistan2005
23          1478918588  Afghanistan2006
24          1010962508  Afghanistan2007
25          1310403626  Afghanistan2008
26          1813878849  Afghanistan2009
27          2302076099  Afghanistan2010
28          2617671954  Afghanistan2011
29          2484099623  Afghanistan2012
...                ...              ...
40453           239548       Rwanda2016
40454           159628       Rwanda2017
40455           239548       Rwanda2016
40456           159628       Rwanda2017
40457            12537  El Salvador2002
40458            12537  El Salvador2002
40459           145349     Thailand2001
40460           101524     Thailand2002
40461           319398     Thailand2016
40462           319257     Thailand2017
40463           145349     Thailand2001
40464           101524     Thailand2002
40465           319398     Thailand2016
40466           319257     Thailand2017
40467           159699      Tunisia2016
40468           319257      Tunisia2017
40469           159699      Tunisia2016
40470           319257      Tunisia2017
40471           184586       Turkey2001
40472           276532       Turkey2003
40473           184586       Turkey2001
40474           276532       Turkey2003
40475            19000      Ukraine2017
40476            19000      Ukraine2017
40477          3051575        World2016
40478          3000000        World2017
40479          2953738        World2018
40480          3051575        World2016
40481          3000000        World2017
40482          2953738        World2018

[40483 rows x 11 columns]

In [0]:
print(list(usaid_imp_agency))

print(list(usaid_country))

['implementing_agency_id', 'implementing_agency_acronym', 'implementing_agency_name', 'country_code', 'country_name', 'transaction_type_id', 'transaction_type_name', 'fiscal_year', 'current_amount', 'constant_amount', 'country_year']
['country_code', 'country_name', 'region_id', 'region_name', 'income_group_acronym', 'income_group_name', 'transaction_type_id', 'transaction_type_name', 'fiscal_year', 'current_amount', 'constant_amount', 'country_year']

In [0]:
#Merging on country_year
usaid_imp_agency_col = usaid_imp_agency[["implementing_agency_acronym", "implementing_agency_name", "country_code", "country_name", "fiscal_year", "current_amount", "constant_amount", "country_year"]]
print (usaid_imp_agency_col.head())
usaid_country_col = usaid_country[["country_code", 'country_name', 'income_group_acronym', 'income_group_name', 'fiscal_year', 'current_amount', 'constant_amount', 'country_year']]    
print(usaid_country_col.head())

  implementing_agency_acronym                   implementing_agency_name  \
0                       USAID  U.S. Agency for International Development
1                       USAID  U.S. Agency for International Development
2                       USAID  U.S. Agency for International Development
3                       USAID  U.S. Agency for International Development
4                       USAID  U.S. Agency for International Development

  country_code country_name  fiscal_year  current_amount  constant_amount  \
0          AFG  Afghanistan         2001        35784186         48477233
1          AFG  Afghanistan         2002       312057888        416015830
2          AFG  Afghanistan         2003       561431741        734429923
3          AFG  Afghanistan         2004      1150135349       1468166664
4          AFG  Afghanistan         2005       824529796       1020480916

      country_year
0  Afghanistan2001
1  Afghanistan2002
2  Afghanistan2003
3  Afghanistan2004
4  Afghanistan2005
  country_code country_name income_group_acronym    income_group_name  \
0          ABW        Aruba                  HIC  High Income Country
1          ABW        Aruba                  HIC  High Income Country
2          ABW        Aruba                  HIC  High Income Country
3          ABW        Aruba                  HIC  High Income Country
4          ABW        Aruba                  HIC  High Income Country

  fiscal_year  current_amount  constant_amount country_year
0        1999           19000            26904    Aruba1999
1        2000           50000            69357    Aruba2000
2        2004            1000             1277    Aruba2004
3        2005           29270            36225    Aruba2005
4        2005           29270            36225    Aruba2005

In [0]:
usaid_country_agency = usaid_country.merge(usaid_imp_agency, on="country_year", how="inner")
print (usaid_country_agency.head())

  country_code_x country_name_x  region_id         region_name  \
0            ABW          Aruba          6  Western Hemisphere
1            ABW          Aruba          6  Western Hemisphere
2            ABW          Aruba          6  Western Hemisphere
3            ABW          Aruba          6  Western Hemisphere
4            ABW          Aruba          6  Western Hemisphere

  income_group_acronym    income_group_name  transaction_type_id_x  \
0                  HIC  High Income Country                      2
1                  HIC  High Income Country                      2
2                  HIC  High Income Country                      3
3                  HIC  High Income Country                      3
4                  HIC  High Income Country                      2

  transaction_type_name_x fiscal_year_x  current_amount_x        ...          \
0             Obligations          2004              1000        ...
1             Obligations          2004              1000        ...
2           Disbursements          2004              1000        ...
3           Disbursements          2004              1000        ...
4             Obligations          2005             29270        ...

   implementing_agency_id implementing_agency_acronym  \
0                       7                         DOD
1                       7                         DOD
2                       7                         DOD
3                       7                         DOD
4                       7                         DOD

   implementing_agency_name country_code_y country_name_y  \
0     Department of Defense            ABW          Aruba
1     Department of Defense            ABW          Aruba
2     Department of Defense            ABW          Aruba
3     Department of Defense            ABW          Aruba
4     Department of Defense            ABW          Aruba

  transaction_type_id_y transaction_type_name_y  fiscal_year_y  \
0                     2             Obligations           2004
1                     3           Disbursements           2004
2                     2             Obligations           2004
3                     3           Disbursements           2004
4                     2             Obligations           2005

  current_amount_y  constant_amount_y
0             1000               1277
1             1000               1277
2             1000               1277
3             1000               1277
4            14000              17327

[5 rows x 22 columns]